PORT = 8080
MONGO_URI = 
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
REDIS_URI = 
JWT_SECRET = 
PUBLIC_FRONTEND = 
ADMIN_FRONTEND = 
APP_ENV = development 
YouTubeAPIKey = 